<html>
<head>
    <title>Voice Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/icons/bootstrap-icons.min.css" rel="stylesheet"/>
    <!-- Libs -->
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/axios.min.js"></script>
    <script src="/static/audio-recorder.js"></script>
    <script src="/static/pcm-player.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <!-- API -->
    <script src="/static/api.js"></script>
    <!-- Voice Recorder -->
    <script src="/static/speech.js"></script>
    <!-- Player -->
    <script src="/static/player.js"></script>
    <!-- Chat -->
    <script src="/static/chat.js"></script>
</head>
<body>
    <div class="container" style="margin: 0px 0px 0px 0px; max-width:100%">
        <div class="row text-center">
            <div class="col-5">
                <h1>Voice Chat</h1>
            </div>
            <div class="col-7">
                <div class="row" style="margin-top:8px;">
                    <div class="col-8">
                        <!--<label for="prompt-template" class="form-label">Scenes</label>-->
                        <select class="form-select form-select-sm" id="prebuild-prompt-template" aria-label="Empty">
                          <option value="empty" selected>Empty</option>
                          <option value="trans-eng">Translate To English</option>
                          <option value="trans-chn">Translate To Chinese</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="auto-play" checked="checked">
                          <label class="form-check-label" for="auto-play">Auto Play</label>
                        </div>
                    </div>
                    <div class="col-4" style="display:none">
                        <textarea class="form-control" id="prompt-template" rows="1" style="width: 100%; height: 100%"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 81%; margin-top: 6px; margin-left: 1px; margin-right: 1px;">
            <textarea class="form-control" id="output" style="width: 100%; height: 100%;"></textarea>
            <input id="tts-text" type="hidden"/>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="text-center col-12">
                <div class="input-group">
                    <button id="speech-btn" type="button" class="btn btn-outline-primary" style="width: 80px;">
                        <i class="bi bi-mic-fill"></i>
                    </button>
                    <input id="prompt" type="text" class="form-control" placeholder="Prompt"/>
                    <button id="submit-btn" type="button" class="btn btn-outline-primary" style="">
                        <i class="bi bi-send-fill"></i>
                    </button>
                    <button id="play-btn" type="button" class="btn btn-outline-primary">
                        <i class="bi bi-play-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
<!-- Local Codes -->
<script>
$(function() {
    var rbtn = $('#speech-btn');
    var tout = $('#output');
    var sbtn = $('#submit-btn');
    var pbtn = $('#play-btn');
    var spbptpl = $('#prebuild-prompt-template');
    var tptpl = $('#prompt-template');
    var iprompt = $('#prompt');
    var startPlaying = false;
    var ws_port = window.location.port - 0 + 1;

    function load_prompt_templates() {
        get_prompt_templates().then((resp) => {
            if (resp.status == 200) {
                const tpls = resp.data;
                console.log(tpls);
                prebuild_prompt_templates = {}
                $('#prebuild-prompt-template').html('');
                var html = ''
                var first = true;
                for (var tpl of tpls) {
                    prebuild_prompt_templates[tpl.key] = tpl.prompt;
                    var checked_str = '';
                    if (first) {
                        checked_str = 'selected';
                        first = false;
                    }
                    html += '<option value="' + tpl.key + '"' + checked_str + '>' + tpl.name + '</option>'
                }
                $('#prebuild-prompt-template').html(html);
            } else {
                console.log('Error');
            }
        }).catch((err) => {
            console.log(err);
        });
    }


    function is_auto_play() {
        return $('#auto-play').is(':checked');
    }

    setSpeechEventListener('ontext', function(ev) {
        // console.log(ev);
        iprompt.val(ev);
        rbtn.html('<i class="bi bi-mic-fill"></i>')
        rbtn.removeAttr('disabled');
        sbtn.click();
    });

    setSpeechEventListener('onstop', function() {
        rbtn.html('<i class="bi bi-mic-fill"></i>')
        rbtn.removeAttr('disabled');
    });

    setSpeechEventListener('onuploading', function() {
        // Loading
        rbtn.html('&nbsp;<i class="bi bi-arrow-repeat"></i>&nbsp;')
        rbtn.attr('disabled', 'disabled');
    });

    setPlayerEventListener('onstartplay', function() {
        pbtn.html('<i class="bi bi-stop-fill"></i>');
    });

    setPlayerEventListener('onstopplay', function() {
        pbtn.html('<i class="bi bi-play-fill"></i>');
        startPlaying = false;
    });

    function add_message(prefix, msg) {
        var mtxt = tout.val();
        var item = prefix + ': ' + msg + '\n';
        mtxt += item;
        tout.val(mtxt);
    }

    spbptpl.on('change', function() {
        var value = spbptpl.val();
        var ptpl = get_prebuild_prompt_template(value);
        if (ptpl !== null) {
            tptpl.val(ptpl);
        }
    });

    rbtn.on('click', function() {
        if (inRecording) {
            // Stop record
            stopRecord(false);
        } else {
            // Start record
            rbtn.html('<i class="bi bi-stop-fill"></i>');
            startRecord();
        }
    });

    setChatEventListener('ontext', function(ev) {
        add_message('AI', ev);
        $('#tts-text').val(ev);
        iprompt.val('');
        sbtn.removeAttr('disabled');
        iprompt.removeAttr('disabled');
        if (is_auto_play()) {
            pbtn.click();
        }
    });

    setChatEventListener('onerror', function(err) {
        console.log(err);
        sbtn.removeAttr('disabled');
        iprompt.removeAttr('disabled');
    })

    sbtn.on('click', function() {
        var sprompt = iprompt.val();
        if (sprompt.trim() === '') {
            return;
        }
        var prompt_tpl = tptpl.val();
        sbtn.attr('disabled', 'disabled');
        iprompt.attr('disabled', 'disabled');
        add_message('User', sprompt);
        chat_message(sprompt, prompt_tpl);
    });

    iprompt.keypress(function(e) {
        var key = e.which;
        if (key === 13) {
            sbtn.click();
        }
    });

    pbtn.on('click', function() {
        play_message();
    });

    function play_message() {
        const url = 'ws://' + location.hostname + ':' + ws_port + '/tts';
        if (startPlaying) {
            console.log('Call stop play');
            stopPlay();
            startPlaying = false;
            pbtn.html('<i class="bi bi-play-fill"></i>');
        } else {
            console.log('Call start play');
            // Loading
            var msg = $('#tts-text').val();
            if (msg.trim() === '') {
                return
            }
            pbtn.html('&nbsp;<i class="bi bi-arrow-repeat"></i>&nbsp;');
            startPlay(url, {'text': msg, 'chinese': true});
            startPlaying = true;
        }
    }

    // Preload web page
    load_prompt_templates();
});
</script>
</body>
</html>
