<html>
<head>
    <title>Voice Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/icons/bootstrap-icons.min.css" rel="stylesheet"/>
    <!-- Libs -->
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/axios.min.js"></script>
    <script src="/static/audio-recorder.js"></script>
    <script src="/static/pcm-player.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <!-- API -->
    <script src="/static/api.js?v1"></script>
    <!-- Voice Recorder -->
    <script src="/static/speech.js?v1"></script>
    <!-- Player -->
    <script src="/static/player.js?v1"></script>
    <!-- Chat -->
    <script src="/static/chat.js?v1"></script>
<style>
.chat-msg-card {
    margin-top: 7px;
}

.chat-msg-body {
    padding: 7px;
}
</style>
</head>
<body>
    <div class="container" style="margin: 0px 0px 0px 0px; max-width:100%">
        <div class="row text-center">
            <div class="col-12" style="height:55px;">
                <h1 style="display:inline-block;line-height:1.5;font-size:2.2rem;">Voice Chat</h1>
                <div class="dropdown float-end" style="margin-top: 10px;">
                    <button class="btn btn-outline-default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear"></i>
                    </button>
                    <ul class="dropdown-menu" style="width: 300px;">
                        <li>
                            <div class="row align-items-center">
                                <div class="col-auto" style="margin-left:15px;">
                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" role="switch" id="auto-play" checked="checked">
                                      <label class="form-check-label" for="auto-play">Auto Play</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="margin-top: 5px;">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto" style="margin-top:15px;margin-left:15px;">
                                    <label for="prompt-template" class="form-label">Scenes</label>
                                </div>
                                <div class="col-auto">
                                    <select class="form-select form-select-sm" id="prebuild-prompt-template" aria-label="Empty">
                                      <option value="empty" selected>Empty</option>
                                      <option value="trans-eng">Translate To English</option>
                                      <option value="trans-chn">Translate To Chinese</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li style="margin-top: 5px;">
                            <div class="row align-items-center" style="width:100%">
                                <div class="col-12" style="margin-left:15px;width:100%;padding-right:20px;">
                                    <textarea class="form-control" id="prompt-template" rows="3" style="width: 100%; height: 100%"></textarea>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="height: 81%; margin-top: 6px; margin-left: 1px; margin-right: 1px;">
            <div id="msg-area" class="card" style="width:100%;height:100%;overflow-y:scroll;">
            </div>
            <span style="display:none;">
            <textarea class="form-control" id="output" style="width: 100%; height: 100%;"></textarea>
            <input id="tts-text" type="hidden"/>
            </span>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="text-center col-12">
                <div class="input-group">
                    <button id="speech-btn" type="button" class="btn btn-outline-primary" style="width: 80px;">
                        <i class="bi bi-mic-fill"></i>
                    </button>
                    <input id="prompt" type="text" class="form-control" placeholder="Prompt"/>
                    <button id="submit-btn" type="button" class="btn btn-outline-primary" style="">
                        <i class="bi bi-send-fill"></i>
                    </button>
                    <button id="play-btn" type="button" class="btn btn-outline-primary">
                        <i class="bi bi-play-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
<!-- Local Codes -->
<script>
$(function() {
    var rbtn = $('#speech-btn');
    var sbtn = $('#submit-btn');
    var pbtn = $('#play-btn');
    var spbptpl = $('#prebuild-prompt-template');
    var tptpl = $('#prompt-template');
    var iprompt = $('#prompt');
    var startPlaying = false;
    var msg_area = $('#msg-area');
    var ws_port = window.location.port - 0 + 1;
    if (ws_port === 444 || ws_port === 1) {
        ws_port = 443;
    }
    var chat_history = [];

    function load_prompt_templates(callback) {
        get_prompt_templates().then((resp) => {
            if (resp.status == 200) {
                const tpls = resp.data;
                console.log(tpls);
                prebuild_prompt_templates = {}
                $('#prebuild-prompt-template').html('');
                var html = ''
                var first = true;
                for (var tpl of tpls) {
                    prebuild_prompt_templates[tpl.key] = tpl.prompt;
                    var checked_str = '';
                    if (first) {
                        checked_str = 'selected';
                        first = false;
                    }
                    html += '<option value="' + tpl.key + '"' + checked_str + '>' + tpl.name + '</option>'
                }
                $('#prebuild-prompt-template').html(html);
                if (callback) {
                    callback();
                }
            } else {
                console.log('Error');
            }
        }).catch((err) => {
            console.log(err);
        });
    }


    function is_auto_play() {
        return $('#auto-play').is(':checked');
    }

    function loading_icon() {
        var html = '<div class="spinner-border spinner-border-sm" role="status">';
        html += '<span class="visually-hidden">Loading...</span>';
        html += '</div>';
        return html;
    }

    function update_local_settings(key, value) {
        localStorage.setItem(key, value);
    }

    function load_local_settings() {
        const ap_val = localStorage.getItem('auto-play');
        if (ap_val !== null) {
            if (ap_val) {
                $('#auto-play').attr('checked', 'checked');
            } else {
                $('#auto-play').removeAttr('checked');
            }
        }
        const pt_val = localStorage.getItem('prompt-template');
        if (pt_val !== null) {
            const ref = $('#prebuild-prompt-template');
            ref.val(pt_val);
            ref.change();
        }
    }

    setSpeechEventListener('ontext', function(ev) {
        // console.log(ev);
        iprompt.val(ev);
        rbtn.html('<i class="bi bi-mic-fill"></i>')
        rbtn.removeAttr('disabled');
        sbtn.click();
    });

    setSpeechEventListener('onstop', function() {
        rbtn.html('<i class="bi bi-mic-fill"></i>')
        rbtn.removeAttr('disabled');
    });

    setSpeechEventListener('onuploading', function() {
        // Loading
        rbtn.html(loading_icon());
        rbtn.attr('disabled', 'disabled');
    });

    setPlayerEventListener('onstartplay', function() {
        pbtn.html('<i class="bi bi-stop-fill"></i>');
    });

    setPlayerEventListener('onstopplay', function() {
        pbtn.html('<i class="bi bi-play-fill"></i>');
        startPlaying = false;
    });

    function render_chat_messages() {
        var html = '';
        for (const msg of chat_history) {
            html += render_chat_msg(msg);
        }
        msg_area.html(html);
        $("#msg-area").scrollTop($("#msg-area")[0].scrollHeight);
    }

    function render_chat_msg(msg) {
        if (msg['role'] === 'user') {
            return render_user_chat_msg(msg['content']);
        } else if (msg['role'] === 'assistant') {
            return render_ai_chat_msg(msg['content']);
        }
        return '';
    }

    function render_user_chat_msg(content) {
        var html = '<div class="card border-primary chat-msg-card"><div class="card-body chat-msg-body"><span class="text-primary"><i class="bi bi-person"></i>:&nbsp;</span>';
        html += content.replaceAll('\n', '<br/>\n');
        html += '</div></div>\n';
        return html;
    }

    function render_ai_chat_msg(content) {
        var html = '<div class="card border-success chat-msg-card"><div class="card-body chat-msg-body"><span class="text-success"><i class="bi bi-stars"></i>:&nbsp;</span>';
        console.log(content);
        const cc = content.replaceAll('\n', '<br />\n');
        console.log(cc);
        html += cc;
        html += '</div></div>\n';
        return html;
    }

    function add_message(prefix, msg) {
        if (prefix === 'User') {
            chat_history.push({'role': 'user', 'content': msg});
        } else if (prefix === 'AI') {
            chat_history.push({'role': 'assistant', 'content': msg});
        }
        render_chat_messages();
    }

    spbptpl.on('change', function() {
        var value = spbptpl.val();
        var ptpl = get_prebuild_prompt_template(value);
        if (ptpl !== null) {
            tptpl.val(ptpl);
        }
        update_local_settings('prompt-template', value);
    });

    rbtn.on('click', function() {
        if (inRecording) {
            // Stop record
            stopRecord(false);
        } else {
            // Start record
            rbtn.html('<i class="bi bi-stop-fill"></i>');
            startRecord();
        }
    });

    setChatEventListener('ontext', function(ev) {
        add_message('AI', ev);
        $('#tts-text').val(ev);
        iprompt.val('');
        sbtn.removeAttr('disabled');
        sbtn.html('<i class="bi bi-send-fill"></i>')
        iprompt.removeAttr('disabled');
        if (is_auto_play()) {
            pbtn.click();
        }
    });

    setChatEventListener('onerror', function(err) {
        console.log(err);
        sbtn.removeAttr('disabled');
        sbtn.html('<i class="bi bi-send-fill"></i>')
        iprompt.removeAttr('disabled');
    })

    sbtn.on('click', function() {
        var sprompt = iprompt.val();
        if (sprompt.trim() === '') {
            return;
        }
        var prompt_tpl = tptpl.val();
        sbtn.attr('disabled', 'disabled');
        sbtn.html(loading_icon());
        iprompt.attr('disabled', 'disabled');
        add_message('User', sprompt);
        // chat_message(sprompt, prompt_tpl);
        chat_messages(chat_history, prompt_tpl);
    });

    iprompt.keypress(function(e) {
        var key = e.which;
        if (key === 13) {
            sbtn.click();
        }
    });

    pbtn.on('click', function() {
        play_message();
    });

    function play_message() {
        var url = 'ws://' + location.hostname + ':' + ws_port + '/tts';
        if (ws_port === 443) {
            url = 'wss://' + location.hostname + '/tts';
        }
        if (startPlaying) {
            console.log('Call stop play');
            stopPlay();
            startPlaying = false;
            pbtn.html('<i class="bi bi-play-fill"></i>');
        } else {
            console.log('Call start play');
            // Loading
            var msg = $('#tts-text').val();
            if (msg.trim() === '') {
                return
            }
            pbtn.html(loading_icon());
            startPlay(url, {'text': msg, 'chinese': true});
            startPlaying = true;
        }
    }

    // Preload web page
    load_prompt_templates(function() {
        load_local_settings();
    });

    $('#auto-play').on('change', function() {
        const val = is_auto_play();
        update_local_settings('auto-play', val);
    })
});
</script>
</body>
</html>
