<html>
<head>
    <title>Voice Translator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/icons/bootstrap-icons.min.css" rel="stylesheet"/>
    <!-- Libs -->
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/axios.min.js"></script>
    <script src="/static/audio-recorder.js"></script>
    <script src="/static/pcm-player.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <!-- API -->
    <script src="/static/api.js?v2"></script>
    <!-- Voice Recorder -->
    <script src="/static/speech.js?v2"></script>
    <!-- Player -->
    <script src="/static/player.js?v2"></script>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <h1>Voice Translator</h1>
        </div>
        <div class="row" style="height: 81%">
            <textarea class="form-control" id="output" style="width: 100%; height: 100%"></textarea>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="text-center col-12">
                <div class="row align-items-center">
                    <div class="col-5">
                        <button id="speech-btn" type="button" class="btn btn-primary" style="width:100%;">
                            Record
                            <i class="bi bi-mic-fill"></i>
                        </button>
                    </div>
                    <div class="col-3">
                        <button id="play-btn" type="button" class="btn btn-secondary" style="width:100%;">
                            Play
                            <i class="bi bi-play-fill"></i>
                        </button>
                    </div>
                    <div class="col-4">
                        <label for="language" class="form-label" style="margin-left: 15px;">Speech Language:</label>
                        <select class="form-select form-select-sm" id="language" aria-label="Empty" style="width: 100px;display:inline-block;">
                                  <option value="auto" selected>Auto</option>
                                  <option value="zh">Chinese</option>
                                  <option value="en">English</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Local Codes -->
<script>
$(function() {
    var rbtn = $('#speech-btn');
    var pbtn = $('#play-btn');
    var tout = $('#output');
    var startPlaying = false;
    var ws_port = window.location.port - 0 + 1;
    if (ws_port === 444 || ws_port === 1) {
        ws_port = 443;
    }

    setSpeechEventListener('ontext', function(ev) {
        console.log(ev);
        tout.val(ev);
        rbtn.html('Record <i class="bi bi-mic-fill"></i>')
        rbtn.removeAttr('disabled');
        pbtn.click();
    });

    setSpeechEventListener('onstop', function() {
        rbtn.html('Record <i class="bi bi-mic-fill"></i>')
        rbtn.removeAttr('disabled');
    });

    setSpeechEventListener('onuploading', function() {
        // Loading
        rbtn.html('&nbsp;<i class="bi bi-arrow-repeat"></i>&nbsp;')
        rbtn.attr('disabled', 'disabled');
    });

    setPlayerEventListener('onstartplay', function() {
        pbtn.html('Stop <i class="bi bi-stop-fill"></i>');
    });

    setPlayerEventListener('onstopplay', function() {
        pbtn.html('Play <i class="bi bi-play-fill"></i>');
        startPlaying = false;
    });

    rbtn.on('click', function() {
        if (inRecording) {
            // Stop record
            stopRecord(true, get_language());
        } else {
            // Start record
            rbtn.html('Stop <i class="bi bi-stop-fill"></i>');
            startRecord();
        }
    });

    pbtn.on('click', function() {
        var text = tout.val();
        if (text === '') {
            return;
        }
        var url = 'ws://' + location.hostname + ':' + ws_port + '/tts';
        if (ws_port === 443) {
            url = 'wss://' + location.hostname + '/tts';
        }
        if (startPlaying) {
            console.log('Call stop play');
            stopPlay();
            startPlaying = false;
            pbtn.html('Play <i class="bi bi-play-fill"></i>');
        } else {
            console.log('Call start play');
            // Loading
            pbtn.html('&nbsp;<i class="bi bi-arrow-repeat"></i>&nbsp;');
            startPlay(url, {'text': text});
            startPlaying = true;
        }
    });

    function get_language() {
        return $('#language').val();
    }
})
</script>
</body>
</html>
